/*----RESET------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); /*font-family: 'Parisienne', cursive;*/

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;

}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}

p{
	margin: 0px;
	padding: 0px;
}

/*----RESET------------------------------------------*/

/*------HEADER----------------------------------------------------------------------------------------------------*/

.header_wrapper{
	width: 100%;
	background-color: pink;
	height: 150px;

}

.header{
	margin: auto;
	width: 1100px;
	height: 150px;
}

.menu{
	float: right;
	margin-right: 50px;
	margin-top: 62px;
	font-size: 20px;

}

.logo {
	float: left;
	margin-top: 45px;
}

.logo h1{
	font-size: 42px;
}

.menu li{
	float: left;
	margin-left: 20px;
}

.menu li a{
	text-transform: uppercase;
}
/*------/HEADER----------------------------------------------------------------------------------------------------*/





/*------CONTENT----------------------------------------------------------------------------------------------------*/

.content_wrapper{
	width: 100%;
	background-color: grey;
	height: 540px;
}

.enstruman_photos{
	background-color: grey;
	width: 100%;
	height: 400px;
	margin: auto;

}

.gitar{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 165px;
	float: left;
	background-color: grey;
	width: 300px;
	height: 300px;
}

.gitar a img{
	border-radius: 20px;
}

.piyano{
	margin-top: 50px;
	margin-right: 165px;
	float: left;
	background-color: grey;
	width: 300px;
	height: 300px;
}

.piyano a img{
	border-radius: 20px;
}

.keman{
	margin-top: 50px;
	float: left;
	background-color: grey;
	width: 300px;
	height: 300px;
}

.keman a img{
	border-radius: 20px;
}


.kampanya{
	margin: auto;
	width: 1000px;
	height: 100px;
	background-color: white;
	border-radius: 25px;

}

.kampanya h1{
	margin-left: 290px;
	padding-top: 32px;
	color: #000;
	padding-bottom: 25px;
}

.kampanya:hover{
	background-color: pink;
}


.hakkimizda_yazi{
	margin: auto;
	width: 1000px;
	height: 190px;
	padding-top: 20px;
	padding-bottom: 60px;
	line-height: 30px;
}

.piyano_dekor{
	height: 280px;
	width: 100%;
}

/*enstrümanlar sayfası-----------------*/


.gitar_foto{
	border-radius: 20px;
	margin-top: 100px;
	margin-left: 155px;
	float:left;
	background-color: grey;
	height: 300px;
	width: 300px;
}

.gitar_foto h2{
	margin-top: 35px;
	margin-left: 105px;
	color: grey;
}

.gitar_foto a img{
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 75px;
}

.piyano_foto{
	border-radius: 20px;
	margin-top: 100px;
	margin-left: 155px;
	float:left;
	background-color: grey;
	height: 300px;
	width: 300px;
}

.piyano_foto h2{
	margin-top: 35px;
	margin-left: 100px;
	color: grey;
}

.piyano_foto a img{
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 75px;
}

.keman_foto{
	border-radius: 20px;
	margin-top: 100px;
	margin-left: 155px;
	float:left;
	background-color: grey;
	height: 300px;
	width: 300px;
}

.keman_foto h2{
	margin-top: 35px;
	margin-left: 100px;
	color: grey;
}

.keman_foto a img{
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 75px;
}

.gitar_foto:hover{
	background-color: pink;
}

.piyano_foto:hover{
	background-color: pink;
}

.keman_foto:hover{
	background-color: pink;
}


/*enstrümanlar sayfası-----------------*/








/*------/CONTENT----------------------------------------------------------------------------------------------------*/







/*------FOOTER----------------------------------------------------------------------------------------------------*/

.footer_wrapper{
	width: 100%;
	background-color: pink;
	height: 100px;

}

.footer{
	width: 1000px;
	margin: auto;
	height: 100px;
}




.footer_footer{
	height: 100px;
	margin: auto;
	width: 550px;
}

.footer_menu{
	height: 50px;
}

.footer_menu li{
	float: left;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 40px;

}




/*.footer{
	background-color: green;
	margin: auto;
	width: 1300px;
	height: 100px;
}

.footer_menu{
	margin: auto;
	margin-top: 20px;
	font-size: 20px;
	background-color: #FFF

}

/*.footer_menu li{
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}

.footer_menu li a{
	text-transform: uppercase;
}

/*------/FOOTER----------------------------------------------------------------------------------------------------*/
